html {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	background-color: #595959;
	width: 99%;
	height: 98%;
}

select {
   	background: transparent;
   	border: 1px solid gray;
	box-shadow: 1px 1px 1px #888888;
   	font-size: 14px;
   	height: 29px;
   	padding: 5px; /* If you add too much padding here, the options won't show in IE */
   	width: 268px;
}

select:hover {
	box-shadow: 2px 2px 2px #888888;
}

h1 {
	border: 0px;
	margin: 0px;
	height: 10%;
	color: #262626;
}

select {
	margin: 0.6em;
}

.number-input {
   background: transparent;
   border: 1px solid gray;
   box-shadow: 1px 1px 1px #888888;
   font-size: 14px;
   height: 20px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 255px;
}

.number-input:hover {
	box-shadow: 2px 2px 2px #888888;
}

.migration-div {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}

.add-migration-form-container {
	background-color: white;
	border: 2px solid black;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-around;
	padding: 50px;
}

.label-input-left {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: center;
	font: "Palatino Linotype";
	font-size: 22px;
	font-weight: bold;
	height: 40%;
}

.label-input-right {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
	font: "Palatino Linotype";
	font-size: 22px;
	font-weight: bold;
	height: 28%;
}

.location-selection {
	flex: 1;
	flex-basis: 40%;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
	margin: 1.5em;
}

.submit {
	display: flex;
	flex-flow: column wrap;
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.submit:hover {
	background-color: #0099ff;
	box-shadow: 2px 2px 2px #888888;
}

@media screen and (max-width: 1000px) {
    .migration-div {
    	flex-flow: column wrap;
    }
}

@media screen and (max-height: 700px) {
	h1 {
		display: none;
	}
	.add-migration-form-container {
		flex-flow: row wrap;
	    -webkit-flex: 1 1 auto;
	    overflow-y: auto;
	    min-height: 0px;
	}

	body {
	    -webkit-flex: 1 1 auto;
	    overflow-y: auto;
	    min-height: 0px;
	}
}