body {
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/c3/57/98/c3579807fc1a9fba998f836a1cb51499.jpg");
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.container {
	padding:50px;
	border: 1px solid black;
/*	margin-top: 70px;
    margin-bottom: 60px;
    margin-right: 400px;
    margin-left: 400px;*/
    background-color: lightblue;
	background-color:rgb(186,210,235);;
	border-radius: 15px;
	width: 50%;
}

.label-input-left {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: center;
	font: "Palatino Linotype";
	font-size: 22px;
	font-weight: bold;
	height: 40%;
}

.label-input-right {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
	font: "Palatino Linotype";
	font-size: 22px;
	font-weight: bold;
	height: 28%;
}

.location-selection {
	flex: 1;
	flex-basis: 40%;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
	margin: 1.5em;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.date{
	
	font: "Palatino Linotype";
	font-size: 22px;
	font-weight: bold;
	height: 28%;

}
