body {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.introduction {
	flex: 1;
}

.sign-up-div {
	flex: 1;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	width: 90%;
}

.image-div {
	flex: 1.5;
	display: flex;
	justify-content: center;
}

.sign-up-form-div {
	flex: 1;
}

#form-propr {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 100%;
}

.container {
	padding:40px;
	border: 1px solid black;
/*	margin-top: 70px;
    margin-bottom: 60px;
    margin-right: 400px;
    margin-left: 400px;*/
	background-color:rgb(240,240,240);
	border-radius: 15px;
	width: 70%;
}

.label-input-left {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: center;
	font: "Palatino Linotype";
	font-size: 18px;
	font-weight: bold;
	height: 20%;
}

.name-input-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.name-input {
	flex-basis: 48%;
}

input {
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.date{
	
	font: "Palatino Linotype";
	font-size: 18px;
	font-weight: bold;
	height: 20%;

}
@media screen and (max-width: 881px) {
	.image-div {
		display: none;
	}
}