body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background: linear-gradient(to right, rgb(200, 200, 200), rgb(250,250,250));
}

select {
    width: 100%;
}

label {
    font-weight: bold;
}

.label-input-left {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.prediction-form-div {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.introduction {
    display: flex;
}

.image-form-div {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 140px;
}

.image-div {
    padding: 100px;
    flex: 0.75;
    display: flex;
    align-items: flex-start;
}

.image-div img {
    width: 100%;
}

#prediction-form-container {
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
    width: 100%;
}

.container-div {
    width: 100%;
    padding:30px;
    border: 1px solid black;
    background-color:rgb(240,240,240);
    border-radius: 15px;
}
.radio-div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 5px;
}

.sub-radio-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-top: 5px;
}

.radio-class {
    width: 10%;
}

.location-div {
    display: flex;
    align-items: center;
    width: 100%;
}

.location-selection {
    display: flex;
    align-items: center;
}

.location-class {
    display: flex;
    align-items: center;
    font: "Palatino Linotype";
    font-size: 18px;
    font-weight: bold;
    height: 30%;
}
.location-input {
    margin: 5px 0px;
    padding: 4px 3px;
    width: 100%;
}

.climate-div {
    display: flex;
    align-items: center;
    width: 100%;
}

.climate-selection {
    display: flex;
    align-items: center;
}

.climate-class {
    display: flex;
    align-items: center;
    font: "Palatino Linotype";
    font-size: 18px;
    font-weight: bold;
    height: 30%;
}
.climate-input {
    margin: 5px 0px;
    padding: 4px 3px;
    width: 100%;
}
.date {
    font: "Palatino Linotype";
    font-size: 18px;
    font-weight: bold;
}


input {
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-top: 5px;
    margin-bottom: 5px;
}

.button {
    width:50%;
}

.button:hover {
    background-color: rgb(10, 120, 150);
    box-shadow: 2px 2px 2px #888888;
    width:50%;
}

@media screen and (max-width: 881px) {
    .image-div {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .gender-div {
        flex-flow: row-wrap;
    }

}