body {
	background-color: rgb(245, 245, 245);
}
table {
	width: 100%;
	font-size: 18px;
	font-family: arial;
}

table, th, td {
	border: 1px lightgray;
}

.body-container {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.table-div {
	width: 100%;
}

.to-cell {
	width: 15%;
}

.reason-cell {
	width: 70%;
}

.from-cell {
	width: 15%;
}

.flag-image {
	border: 2px solid black;
	opacity: 0.8;
	border-radius: 5px;
	width: 60px;
	height: 40px;
}

.reason-image {
	width: 48px;
	height: 42px;
	opacity: 0.7;
}

.number-adults-children-div {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.number-adults-div {

}

.number-children-div {

}

.time-elapsed {
	color: gray;
}

tr:hover {
	background-color: rgb(251, 251, 251);
}

tr:hover .flag-image {
	opacity: 1.0;
}

tr:hover .reason-image {
	opacity: 1.0;
}