#state-location
{
    display:none;
}

select {
	width: 90%;
	height: 32px;
	padding: 3px;
	margin: 3px;
	font-family: 'Fanwood Text', serif;	
	font-size: 16px;
}

.legend {
    font-size: 12px;
  }
  rect {
    stroke-width: 2;
  }

  .bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}