#state-location
{
    display:none;
}

select {
	width: 90%;
	height: 32px;
	padding: 3px;
	margin: 3px;
	font-family: 'Fanwood Text', serif;	
	font-size: 16px;
}

.location-selection
{
  display:flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}


.legend {
    font-size: 12px;
  }

 .card-block 
 {
   overflow:auto;
 }

.axis--x path {
  display: none;
}